

    .subscribe-button {
        background-color : rgb(200,0,0);
        color : white;
        border : none;
        border-radius :2%;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:16px;
        padding-right:16px;
        cursor : pointer;
        margin-right:8px;
        transition: background-color,color 0.15s;
        vertical-align:top;
    }
    .subscribe-button:hover{
        opacity:0.8;
        transition: background-color,color 0.15s;
    }
    .subscribe-button:active{
        opacity:0.4;
        transition: background-color,color 0.15s;
    }
    .join-button{
        backgroung-color : white;
        color : rgb(19, 19, 167);
        border-color:black;
        border-style:solid;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:16px;
        padding-right:16px;
        border-radius : 2px;
        margin-right:8px;
        cursor:pointer;    
        vertical-align:top;
        transition: background-color,color 0.15s;
    }
    .join-button:hover{
        background-color:rgb(70, 135, 173);
        color:white;
        opacity:0.8;
        transition: opacity 0.8s;
        padding-top:9px;
        padding-bottom:15px;
        padding-left:16px;
        padding-right:24px;
        }
    .join-button:active{
        background-color:blue;
        color:white;
        opacity:0.4;
    }
    
    .twitter-button{
        background-color:rgb(27, 97, 177);
        color:white;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:16px;
        padding-right:16px;
        border-radius: 20px;
        cursor:pointer;
        border:none;
        font-weight:bold;
        font-size:15;
        vertical-align:top;
        transition: background-color,color 0.10s;
        margin-right:200px;

    }
    .twitter-button:hover{
        box-shadow: 5px 5px 10px rgba(15, 197, 191, 0.6);
        transition:box-shadow 0.10s;
        
    }
    button{
        background-color:white;
        color:black;
        border-style:bold;
        margin-top:5px;
        border-radius:3px;
        
        padding-top:9px;
        padding-bottom:9px;
        padding-left:16px;
        padding-right:16px;
    }
    .stretch-button{
        color:blue ;
        padding-top:9px;
        padding-bottom:9px;
        padding-left:16px;
        padding-right:16px;

    }
    .stretch-button:hover{
        padding-top : 9px;
        padding-bottom:15px;
        padding-left:16px;
        padding-right:20px;
        transition : 0.15s;
        color : black;
        cursor:pointer;

    }


